@media screen and (min-width: 801px) {
    .info {
        padding: 3em 4.5em 1em 4.5em;
        font-size: 1.8em;  
    }   

    html {
        font-size: 14px;
    }

    header {
        flex: 10vh 0 1;
    }

    .intext {
        max-width: 18em;
        max-height: 15em;
    }
    
    .history {
        height: 82vh;
        overflow: auto;
    }
}

@media screen and (max-width: 800px) {
    .info {
        padding: 2.5em;
    }   

    aside, .table {
        display: none;
    }


    header {
        flex: 7vh 0 1;
    }

    .intext {
        max-width: 15em;
        max-height: 15em;
    }

}    

@media screen and (max-width: 475px) {
    /* h3 {
        clear: both;
    } */
    
    .intext {
        max-width: 100%;
    }
}

@media screen and (max-height: 800px) {
    html {
        font-size: 12px;
    }
    
    header {
        flex: 8vh 0 1;
    }
}