*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Verdana, sans-serif;
  background-color: white;
  color: rgba(5, 56, 114, 0.822);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  -webkit-box-flex: 13vh;
      -ms-flex: 13vh;
          flex: 13vh;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(white)), url("../header_covers/12.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white), url("../header_covers/12.jpg");
  background-position: bottom;
  background-size: cover;
}

header nav {
  z-index: 10;
  position: absolute;
  right: 0.5em;
  bottom: 0.2em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header nav li + li {
  border-left: 2.5px solid rgba(5, 56, 114, 0.822);
}

header nav li {
  font-weight: bold;
  padding: 0.3em 0.57em;
}

main {
  -webkit-box-flex: 80vh;
      -ms-flex: 80vh 0 0px;
          flex: 80vh 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-top: 5px solid rgba(5, 56, 114, 0.822);
  border-bottom: 2px solid rgba(5, 56, 114, 0.822);
}

main > * {
  -webkit-box-flex: 50vw;
      -ms-flex: 50vw;
          flex: 50vw;
}

main .info {
  padding: 3em 3.5em;
  font-size: 1.7em;
}

main .info h1, main .info p {
  text-align: center;
  margin-bottom: 0.5em;
}

main .info h1 {
  text-shadow: 3px 2px 5px rgba(5, 56, 114, 0.822);
}

main .info ul {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .info ul li {
  padding: 0.3em;
}

main .info ul li:nth-child(odd):hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: 1s;
  transition: 1s;
}

main .info ul li:nth-child(even):hover {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: 1s;
  transition: 1s;
}

main .info ul a {
  font-size: 1.5em;
}

main .media {
  max-height: 80vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(255, 0, 0, 0)), to(white)), url("../header_covers/my.jpg");
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 70%, white), url("../header_covers/my.jpg");
  background-position: center;
  background-size: cover;
}

main .media:after {
  position: absolute;
  left: 0;
  top: -5px;
  content: '';
  background-image: -webkit-gradient(linear, right top, left top, color-stop(45%, rgba(255, 0, 0, 0)), to(white));
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 45%, white);
  width: 50vw;
  height: 103%;
}

footer {
  padding: 1em 2em;
  text-align: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(white)), url("../header_covers/12.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white), url("../header_covers/12.jpg");
  background-position: top;
  background-size: cover;
}

footer p {
  font-size: 0.8em;
}

a {
  color: rgba(5, 56, 114, 0.822);
  text-decoration: none;
  text-shadow: 2px 1px 5px rgba(5, 56, 114, 0.822);
}

a:hover {
  color: lightblue;
}
/*# sourceMappingURL=style.css.map */