html {
  font-family: Verdana, sans-serif;
  background-color: white;
  color: rgba(5, 56, 114, 0.822);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  -webkit-box-flex: 13vh;
      -ms-flex: 13vh;
          flex: 13vh;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(white)), url("../header_covers/12.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white), url("../header_covers/12.jpg");
  background-position: bottom;
  background-size: cover;
}

header nav {
  z-index: 10;
  position: absolute;
  right: 0.5em;
  bottom: 0.2em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav li + li {
  border-left: 2.5px solid #d7dde9;
}

header nav li {
  font-weight: bold;
  padding: 0.3em 0.57em;
  font-size: 1rem;
}

main {
  -webkit-box-flex: 80vh;
      -ms-flex: 80vh;
          flex: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-top: 5px solid;
  -o-border-image: linear-gradient(to left, rgba(5, 56, 114, 0.822) 20%, white 130%);
     border-image: -webkit-gradient(linear, right top, left top, color-stop(20%, rgba(5, 56, 114, 0.822)), color-stop(130%, white));
     border-image: linear-gradient(to left, rgba(5, 56, 114, 0.822) 20%, white 130%);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(45%, rgba(255, 0, 0, 0)), to(white));
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 45%, white);
  z-index: 100;
}

main > * {
  -webkit-box-flex: 50vw;
      -ms-flex: 50vw;
          flex: 50vw;
}

main .info h1, main .info p {
  text-align: center;
  margin-bottom: 0.5em;
}

main .info h1::-moz-selection, main .info p::-moz-selection {
  color: #7fa4f5;
  background-color: white;
}

main .info h1::selection, main .info p::selection {
  color: #7fa4f5;
  background-color: white;
}

main .info h1 {
  text-shadow: 3px 2px 5px rgba(5, 56, 114, 0.822);
}

main .info ul {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .info ul li {
  padding: 0.3em;
}

main .info ul li:nth-child(odd):hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: 1s;
  transition: 1s;
}

main .info ul li:nth-child(even):hover {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: 1s;
  transition: 1s;
}

main .info ul a {
  font-size: 2em;
}

main aside {
  overflow: hidden;
}

main .media {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(255, 0, 0, 0)), to(white)), -webkit-gradient(linear, right top, left top, color-stop(80%, rgba(255, 0, 0, 0)), to(white)), url("../header_covers/my.jpg");
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 70%, white), linear-gradient(to left, rgba(255, 0, 0, 0) 80%, white), url("../header_covers/my.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

main .media:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 8s;
  transition: 8s;
}

footer {
  border-top: 3px solid;
  -o-border-image: linear-gradient(to left, white 0%, rgba(5, 56, 114, 0.822) 80%);
     border-image: -webkit-gradient(linear, right top, left top, from(white), color-stop(80%, rgba(5, 56, 114, 0.822)));
     border-image: linear-gradient(to left, white 0%, rgba(5, 56, 114, 0.822) 80%);
  border-image-slice: 1;
  padding: 1em 2em;
  text-align: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(white)), url("../header_covers/12.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white), url("../header_covers/12.jpg");
  background-position: top;
  background-size: cover;
}

footer p {
  font-size: 0.8em;
}

a {
  color: rgba(5, 56, 114, 0.822);
  text-decoration: none;
  text-shadow: 2px 1px 5px rgba(5, 56, 114, 0.822);
}

a:hover {
  color: lightblue;
}
/*# sourceMappingURL=style.css.map */