$backcolor: white;
$fontcolor: rgba(5, 56, 114, 0.822);

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Verdana, sans-serif;
    background-color: $backcolor;
    color: $fontcolor;
    
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 13vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), $backcolor),
        url("../header_covers/12.jpg");
    background-position: bottom;    
    background-size: cover; 

    
    nav {
        z-index: 10;
        position: absolute;
        right: 0.5em;
        bottom: 0.2em;
        
        
        ul {
                 
            display: flex;
            list-style: none;
            justify-content: right;
                        
        }
        
        li + li {
            border-left: 2.5px solid $fontcolor;
        }

        li {
            font-weight: bold;
            padding: 0.3em 0.57em;
        }
       
    }
}

main {  
    flex: 80vh 0 0;
    display: flex;
    position: relative;
    border-top: 5px solid $fontcolor;
    border-bottom: 2px solid $fontcolor;
    
    > * {
        flex: 50vw;
        
               
        
    }
    .info {
        padding: 3em 3.5em;
        font-size: 1.7em;
        
        
        h1, p {
            text-align: center;
            margin-bottom: 0.5em;
            // max-width: 60%;
            
        }
        
        h1 {
            text-shadow: 3px 2px 5px $fontcolor;
        }
        
        ul {
            margin-top: 2em;
            display: flex;
            list-style: none;
            justify-content: center;
            
            
            li {
                padding: 0.3em;
                
            }

            li:nth-child(odd):hover{
                // transform: scale(1.2);
                transform: rotate(1turn);
                transition: 1s;
            }

            li:nth-child(even):hover{
                // transform: scale(1.2);
                transform: rotate(-1turn);
                transition: 1s;
            }
            
            a {
                font-size: 1.5em;
            }
        }

    }

    .media {
        max-height: 80vh;
        background-image: linear-gradient(to right, rgba(255,0,0,0) 70%,$backcolor),
        url("../header_covers/my.jpg");
        background-position: center; 
        background-size: cover; 
        
    }

    .media:after {
        position: absolute;
        left: 0;
        top: -5px;
        content: '';
        background-image: linear-gradient(to left, rgba(255,0,0,0) 45%, $backcolor);        
        width: 50vw;
        height: 103%;
        
        
    }

}

footer {
    padding: 1em 2em;
    text-align: right;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), $backcolor),
        url("../header_covers/12.jpg");
    background-position: top;    
    background-size: cover; 
    
    p {
        font-size: 0.8em;
    }

}

a {
    color: $fontcolor;
    text-decoration: none;
    text-shadow: 2px 1px 5px $fontcolor;
    
}

a:hover {
    color: lightblue; 
    
}