$backcolor: white;
$fontcolor: rgba(5, 56, 114, 0.822);

html {
    font-family: Verdana, sans-serif;
    background-color: $backcolor;
    color: $fontcolor;
    
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 13vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), $backcolor),
        url("../header_covers/12.jpg");
    background-position: bottom;    
    background-size: cover; 

    
    nav {
        z-index: 10;
        position: absolute;
        right: 0.5em;
        bottom: 0.2em;
        
        
        ul {                 
            display: flex;
            list-style: none;                       
        }
        
        li + li {
            border-left: 2.5px solid rgb(215, 221, 233);
        }

        li {
            font-weight: bold;
            padding: 0.3em 0.57em;
            font-size: 1rem;
        }
       
    }
}

main {  
    flex: 80vh;
    display: flex;
    position: relative;
    border-top: 5px solid;
    border-image: linear-gradient(to left, $fontcolor 20%,  $backcolor 130%);
    border-image-slice: 1;
    
    background-image: linear-gradient(to left, rgba(255,0,0,0) 45%, $backcolor);
    z-index: 100;
    
    
    
    > * {
        flex: 50vw;
        
               
        
    }
    .info {
        // padding: 3em 4.5em 1em 4.5em;
        // font-size: 1.7em;  
      
        h1, p {
            text-align: center;
            margin-bottom: 0.5em;
            
                        
        }

        h1::selection, p::selection {
            color: rgb(127, 164, 245);
            background-color: $backcolor;
        }
        
        h1 {
            text-shadow: 3px 2px 5px $fontcolor;
        }
        
        ul {
            margin-top: 2em;
            display: flex;
            list-style: none;
            justify-content: center;
            
            
            li {
                padding: 0.3em;
                
            }

            li:nth-child(odd):hover{
                
                transform: rotate(1turn);
                transition: 1s;
            }

            li:nth-child(even):hover{
                
                transform: rotate(-1turn);
                transition: 1s;
            }
            
            a {
                font-size: 2em;
            }
        }

    }

    aside {
        overflow: hidden;     
        
    }
    
    .media {
        background-image: linear-gradient(to right, rgba(255,0,0,0) 70%,$backcolor), linear-gradient(to left, rgba(255,0,0,0) 80%, $backcolor), 
        url("../header_covers/my.jpg"), ;
        width: 100%;
        height: 100%;
        background-position: center; 
        background-size: cover; 
        z-index: -1;
        
    }

    .media:hover {
        transform: scale(1.2);
        transition: 8s;
    }


}

footer {
    border-top: 3px solid;
    border-image: linear-gradient(to left, $backcolor 0%, $fontcolor 80%);
    border-image-slice: 1;
    
    padding: 1em 2em;
    text-align: right;
    background-image:  linear-gradient(to bottom, rgba(255,0,0,0), $backcolor),
        url("../header_covers/12.jpg");
    background-position: top;    
    background-size: cover; 
    
    p {
        font-size: 0.8em;
    }

}

a {
    color: $fontcolor;
    text-decoration: none;
    text-shadow: 2px 1px 5px $fontcolor;
    
}

a:hover {
    color: lightblue; 
}
